body {
  margin: 0;
}

a{
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  height: 50vh;
  width: 100%;
  background-image: url("../img/bg.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  font-size: 16px;

  &--white {
    color: white;
  }

  &--dark {
    color: $text_dark;
  }

  &--light {
    color: $text_light;
  }

  &--big {
    font-size: 60px;
    letter-spacing: 5px;
  }

  &--mono {
    font-family: 'Roboto Mono', monospace;
  }

  &--title {
    font-size: 25px;
  }

  &--medium {
    font-size: 30px;
  }

  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--paragraph {
    font-size: 16px;
  }

  &--bolder {
    font-weight: bolder;
  }

  &--subtitle {
    font-size: 20px;
  }

  &--highlight {
    color: $text_highlight
  }
}

.about {
  width: 100%;
  margin: 0 auto;
  padding: 100px 15px;
  background-color: $light_grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
}

.about__container {
  max-width: 600px;
}

.skills {
  display: grid;
  width: 100%;
  max-width: $max-width;
  margin: 15px auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:300px 300px;
  grid-row-gap: 2px;
  grid-column-gap: 2px;
  background-color: $light_grey;

  &__icon {
    width: 60px;
    height: 60px;
    fill: $text_dark;
    margin-bottom: 15px;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    &:hover > .skills__box *{
      fill: $darker_grey;
      color: $darker_grey;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;


  }

}

.resume {
  background-color: $dark_grey;
  display: flex;
  height: auto;
  justify-content: center;

  &__fixed {
    max-width: $max-width;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__container {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &__box {
    background-color: $alt_grey;
    color: white;
    width: 100%;
    text-align: center;
    padding: 15px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__container {
    max-width: $max-width;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__box {
    display: flex;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: 30px;
    height: 30px;
    fill: $text_dark;
    margin-right:15px;

    &:hover{
      fill: $darker_grey;
    }
  }

  &__info{
    color: $text_dark;
    font-size: 20px;
  }
}

.footer {
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}



