@media (max-width: 700px){
.header{
  height: 100vh;
  background-attachment: scroll;
}

  .about{
    height: 100vh;
  }

  .skills{
    grid-template-columns:  1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin: 0;

    &__block{
      margin-top: 20px;
      padding: 25px 15px;
    }
  }

  .resume{
    &__fixed{
      flex-direction: column;
    }

    &__container{
      width: 100%;
    }
  }

  .text{
    &--big{
      font-size: 30px;
      letter-spacing: 2px;
    }
  }
}